@font-face {
	font-family: RussoOne;
	src: url(../fonts/russo.ttf);
}

body {
	font-family: RussoOne;
	font-size: 1.25em;
	background-image: url(../images/back.png);
	background-position: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	margin:auto;
	width: 75%;
}

#top {
	margin: auto;
	margin-bottom: 1em;
	width: 75%;
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
}

header img {
	display: block;
	max-width: 50%;
}

nav {
	
}

nav ul {
	padding: 0 1em;
	margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-content: center;
}

nav li {
	display: inline;
	padding: 0.2em;
}

h1 {
	font-weight: normal;
	margin-block-start: 0.1em;
	margin-block-end: 0.4em;
}

p {
	margin: 1em 0;
}

footer {
	font-size: .75em;
	margin-top: 2em;
	padding: 0.5em;
}

footer ul {
	list-style-type: none;
}

.panel {
	margin: 10px;
	padding: 1em;
	border: 4px solid #d5d5d5;
	border-radius: 18px;
	background-color: #000000;
	color: white;
}

.windowpanel {
	border: 4px solid #d5d5d5;
	border-radius: 6px;
	background-color: rgba(0.0, 0.0, 0.0, .5);
	color: white;
}

.button {
	display: inline-block;
	background-color: white;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: .4em 2em;
	text-align: center;
	min-width: 128px;
	border-radius: 12px 6px;
	font-size: 1.1em;
	box-shadow: 0 4px #d5d5d5;
	text-decoration: none;
	color: black;
}

.asterisk {
	font-size: 0.75em;
}

.bulletless {
	list-style-type: none;
}

.button:hover {
	color: white;
	background-color: #748cc0;
	box-shadow: 0 4px #4e628d;
}

.button:active {
	transform: translateY(4px);
	box-shadow: none;
}

.navbutton {
	background-color: #a4bcc4;
	box-shadow: 0 4px #67777c;
	color: white;
}

.homebutton {
	background-color: #72b2c7;
	box-shadow: 0 4px #456772;
	color: white;
}

.purplebutton {
	background-color: #c65dff;
	box-shadow: 0 4px #9c48c9;
	color: white;
}

.floatleft {
	float: left;
}